.Properties{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 48px;
    padding-right: 48px;
}

.Properties-header{
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.Properties-count{
    color:#4F4F4F;
}