.Property{
    text-align: center;
    padding-bottom: 40px;
}

.Property-photo{
    width: 300px;
    height: 200px;
    border-radius: 24px;
}

.Property-header{
    display: flex;
    justify-content: space-between;
    color: #828282
}

.Property-superHost{
    color: #4F4F4F;
}

.Property-ratingIcon{
    color: #EB5757;
}
.Property-rating{
    display: flex;
    align-items: center;
}

.Property-title{
    color: #333333;
    font-weight: bold;
    display: flex;
}