.App {
  text-align: center;
}

.App-header {
  min-height: 20vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
  color: white; 
}

.App-logo {
  width: 69px;
  height: 14px;
  padding-top: 49px;
  padding-left: 10%;
}

.App-logo:hover{
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.App-Footer{
  color: #828282;
  padding-bottom: 20px;
  font-size: 13px;
}

@media (max-width: 600px) {
  .App-header{
    min-height: 0;
  }
}